@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../resources/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../resources/Montserrat-Bold.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat-Regular', Fallback, sans-serif;
}

h1 {
    letter-spacing: 4px;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.h-200 {
    height: 200px;
}

.h-600 {
    height: 600px;
}

.content-h-400 {
    height: 400px;
}

.pad-lr {
    padding-left: 10%;
    padding-right: 10%;
}

.margin-center {
    margin: 0 auto;
}

.align-center {
    text-align: center;
}

.bold-font {
    font-weight: 800;
}

.text-italic {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.active {
    color: #4cebae !important;
}

/*=======================================================================================*/
/*                             TOP MENU / NAVIGATION                                     */
/*=======================================================================================*/

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: #333;
    width: 820px;
}

    /* Float the list items side by side */
    ul.topnav li {
        float: left;
    }

        /* Style links inside the list items */
        ul.topnav li a {
            display: inline-block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 14px;
            text-transform: uppercase;
            margin-top: 40px;
            text-shadow: 0 0 1px rgba(255,255,255,0.3);
            transition: 0.1s ease;
        }

ul.responsive li a {
    color: #f2f2f2 !important;
}

.body-docs ul.topnav li a, .body-about_us ul.topnav li a {
    color: #727272;
}

ul.topnav li img {
    margin-top: 12px;
}

ul.topnav li a:hover {
    color: #64C29E;
    border-bottom: 4px solid #ffffff;
}

.body-docs ul.topnav li a:hover, .body-about_us ul.topnav li a:hover {
    color: #64C29E;
    border-bottom: 4px solid #727272;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
    display: none;
}

.menu-dot {
    color: #E1E1E1;
    font-size: 1.4em;
}

.body-docs .menu-dot, .body-about_us .menu-dot {
    color: #727272;
}

.logo-li img {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

    .logo-li img:hover {
        border-radius: 30px;
        -webkit-filter: hue-rotate(333deg);
        -webkit-box-shadow: 0 15px 10px #F78A03;
        -moz-box-shadow: 0 15px 10px #FEBC00;
        box-shadow: 0 15px 10px #F78A03;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-6deg);
    }


/*=======================================================================================*/
/*                               MAIN CONTENT STYLES                                     */
/*=======================================================================================*/

.h-header {
    height: 800px;
}

.h-about {
    min-height: 100px;
}

    .h-about .col-2 {
        padding-top: 80px;
    }

    .h-about .col-3 {
        padding-top: 110px;
        min-height: 400px;
    }

.body-about_us .h-about .col-3 {
    padding-top: 0;
}

.feature-block {
    width: 33%;
    float: left;
    text-align: center;
}

.body-docs .h-about .col-3 {
    padding-top: 100px;
}

.h-body, .h-bodylast {
    height: 600px;
    overflow: hidden;
}

    .h-body .col-1 {
        padding-left: 5%;
        padding-right: 5%;
    }

    .h-body .col-2 img, .img-100 {
        width: 100%;
        max-height: 600px;
    }

    .h-bodylast .col-1 {
        width: 33.5%;
    }

.bodylast-content-wrapper {
    width: 33%;
    float: left;
}

.h-bodylast .bodylast-content-wrapper .col-1 {
    width: 100% !important;
}

.bodylast-content-wrapper .section-footer-image img {
    width: 100%;
}

.section-icon {
    margin-top: 40px;
}

.section-heading {
    text-transform: uppercase;
    color: #363c3b;
}

.section-footer-image img {
    width: 40%;
}

.text-center {
    margin: 0 auto;
    text-align: center;
}

.text-body {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.col-3 {
    display: block;
    width: 100%;
    max-height: 800px;
}

.col-2 {
    display: block;
    width: 60%;
    height: 100%;
    max-height: 600px;
}

.col-1 {
    width: 30%;
    display: inline-block;
}

.about-text {
    width: 75%;
    margin: 0 auto;
}

.body-index .topheader {
    background-image: url(/resources/topheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.body-about_us .topheader {
    background-image: url(/resources/about_us-topheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% -250px;
}

.body-docs .h-header {
    height: 200px;
}

.body-about_us .h-header {
    height: 537px;
}

.body-about_us .h-header {
    background-color: #F7F7F7;
}

.body-about_us .h-about {
    background-color: #F7F7F7;
    padding-top: 17px;
}

.body-docs nav, .body-about_us nav {
    height: 140px;
}

.body-docs .topheader {
    background-image: url(/resources/docs-topheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 95%;
}

.mailing-logo {
    width: 120px;
    padding-top: 60px;
}

.mailing-wrapper {
    height: 468px;
}

.body-docs .mailing-wrapper {
    height: 200px;
}

.section-text {
    color: #898B8B;
    text-align: justify;
    line-height: 24px;
}

.body-about_us .section-text {
    text-align: center;
}

.features .section-text {
    text-align: justify;
    line-height: 24px;
}

.feature-block .content-h-400 {
    display: inline-block;
}

.section-end {
    font-size: 0;
    padding-top: 30px;
    height: 5px;
    width: 60px;
    margin: 0 auto;
    border-bottom: 2px solid #DBDBDB;
    display: block;
}

.team-end {
    font-size: 0;
    padding-top: 3px;
    height: 5px;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 8px;
    border-bottom: 2px solid #DBDBDB;
    display: block;
}

.meet-the-team {
    height: 133px;
    background-color: #4cebae;
    text-align: center;
}

    .meet-the-team span {
        display: block;
        text-transform: uppercase;
        color: #363c3b;
        font-size: 34px;
        padding-top: 48px;
    }

.team-row {
    width: 100%;
    float: left;
    height: 469px;
    color: #363c3b;
}

.team-user {
    width: 50%;
    height: auto;
    float: left;
    position: relative;
    top: 32%;
}

.team-name {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}

.team-description {
    width: 88%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #9d9ea0;
    padding-left: 5%;
}

.team-image {
    width: 50%;
    height: 100%;
    float: left;
    background-image: url('../resources/about_us-team.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.mailing-wrapper .col-3 .section-text {
    width: 338px;
    color: #848789;
    font-size: 19px;
    font-style: italic;
    padding-top: 12px;
}

.mailing-wrapper .col-3 .mailing-button {
    background-color: #64C29E;
    width: 393px;
    margin-top: 30px;
}

    .mailing-wrapper .col-3 .mailing-button a {
        width: 393px;
        height: 50px;
        font-size: 20px;
        color: #EEF7F4;
        text-transform: uppercase;
        border-style: none;
        border: none;
        padding-top: 26px;
        display: inline-block;
        outline: 0;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none !important;
        background-color: #64C29E;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

        .mailing-wrapper .col-3 .mailing-button a:hover {
            background-color: #2D2C3A;
            cursor: pointer;
        }

.body-docs .mailing-wrapper .col-3 .mailing-button {
    display: inline-block;
    width: 25%;
    max-width: 300px;
    margin-left: 4%;
    margin-right: 4%;
}

    .body-docs .mailing-wrapper .col-3 .mailing-button a {
        width: 100%;
    }

.footer-wrapper {
    height: 250px;
    border-top: 1px solid #4CEBAE;
    color: #898B8B;
    background-color: #F7F7F7;
    position: absolute;
    width: 100%;
}

.footer-leftbox {
    width: 340px;
    margin-top: 80px;
    margin-left: 80px;
    position: absolute;
}

    .footer-leftbox a {
        text-decoration: none;
        color: #898B8B;
    }

.footer-social {
    width: 160px;
    margin: 0 auto;
    margin-top: 90px;
    position: relative;
}

    .footer-social a {
        position: relative;
        display: inline-block;
    }

        .footer-social a img {
            height: 34px;
            width: 35px;
            padding-left: 12px;
        }

    .footer-social .fb:before,
    .footer-social .fb:after {
        border-color: #46629E;
    }

    .footer-social .tw:before,
    .footer-social .tw:after {
        border-color: #00ACEE;
    }

    .footer-social .yt:before,
    .footer-social .yt:after {
        border-color: #DD4B39;
    }

    .footer-social a:before,
    .footer-social a:after {
        content: "";
        display: block;
        position: absolute;
        background: transparent;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        transition: .3s all;
        border: 3px solid;
        width: 30px;
        height: 29px;
        margin-left: 11px;
    }

    .footer-social a:hover:after {
        -webkit-transform: scale(1.5);
    }

    .footer-social a:hover:before {
        -webkit-transform: scale(2);
        transition: .3s all;
        opacity: 0;
    }

/*=======================================================================================*/
/*RESPONSIVE / MEDIA QUERIES*/
/*=======================================================================================*/
@media only screen and (max-width: 1300px) {
    .section-text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 890px) {
    .body-index .topheader {
        background-position: 50%;
    }


    .h-body, .h-bodylast {
        height: 100%;
        overflow: visible;
    }

    .about {
        margin-top: -80px;
    }

    .body-docs .about {
        margin-top: -50px;
    }

    .privacy .left-img-box, .privacy .left-img-box img {
        height: 240px;
        width: 100%;
    }

    .privacy .content-box {
        width: 100%;
        padding: 0;
    }

    .privacy .privacy-text {
        padding-left: 30px;
        padding-right: 30px;
    }

    .privacy .section-footer-image {
        text-align: center;
        margin-top: -40px;
    }

        .privacy .section-footer-image img {
            width: 100%;
        }

    .compatibility .content-box {
        width: 100%;
        padding: 0;
    }

    .compatibility .compatibility-text {
        padding-left: 30px;
        padding-right: 30px;
    }

    .compatibility .right-img-box {
        width: 100%;
        height: 240px;
        margin-top: -40px;
    }

        .compatibility .right-img-box img {
            width: 100%;
            height: 240px;
        }

    .compatibility .section-footer-image {
        display: none;
    }

    .versatility .bodylast-content-wrapper {
        width: 100%;
    }

    .versatility .left-img-box {
        display: none;
    }

    .versatility .versatility-text {
        padding-left: 30px;
        padding-right: 30px;
    }

    .versatility .right-img-box {
        display: none;
    }

    .versatility .section-footer-image {
        text-align: center;
        margin-top: -40px;
    }

        .versatility .section-footer-image img {
            height: 240px;
        }

    .mailing-wrapper {
        margin-top: -80px;
        width: 100%;
    }

    .footer-leftbox {
        margin-top: 145px;
    }

    .footer-social {
        margin-top: 50px;
        text-align: center;
        width: 100%;
    }

    .body-docs .mailing-wrapper {
        height: 100%;
        padding-bottom: 30px;
    }

        .body-docs .mailing-wrapper .col-3 .mailing-button {
            display: inline-block;
            width: 100%;
            max-width: none;
            margin-left: 0;
            margin-right: 0;
        }

    .body-docs .h-about .col-3 {
        padding-bottom: 100px;
    }

    @media screen and (max-width:830px) {
        /* When the screen is less than 830 pixels wide, hide all list items.
    Show the list item that contains the link to open and close the topnav (li.icon) */
        ul.topnav li {
            display: none;
        }

            ul.topnav li a:hover {
                border-bottom: none !important;
            }

            ul.topnav li.icon {
                margin: 0 auto;
                display: inline-block;
            }

            ul.topnav li a {
                margin-top: 0px;
                padding-bottom: 20px;
                padding-top: 20px;
            }

        ul.topnav .icon a {
            font-size: 40px;
        }

        .menu-dot {
            display: none;
        }

        .logo-li {
            display: none !important;
        }
    }

    @media screen and (max-width:830px) {
        /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
    This class makes the topnav look good on small screens */
        ul.topnav.responsive {
            position: relative;
        }

            ul.topnav.responsive li.icon {
                right: 0;
                top: 0;
            }

            ul.topnav.responsive li {
                float: none;
                display: inline;
            }

                ul.topnav.responsive li a {
                    display: block;
                    text-align: left;
                }

        ul.topnav {
            width: 100%;
        }
    }

    @media screen and (max-width:770px) {
        h1 {
            font-size: 1em;
        }

        .about .section-icon {
            margin-top: 0;
        }

        .about-text {
            width: 80%;
        }

        .feature-block {
            width: 100%;
        }

        .team-user {
            width: 100%;
            position: relative;
        }

        .team-image {
            width: 100%;
            height: 20%;
            float: none;
            position: relative;
        }

            .team-image img {
                position: absolute;
                left: 0;
            }

        .h-features {
            height: 100%;
        }
    }

    @media screen and (max-width:560px) {
        body {
            font-size: 0.9em;
        }

        .h-header {
            height: 400px;
        }

        .section-footer-image {
            padding-top: 15%;
        }

        .privacy {
            padding-top: 15%;
        }

        .body-about_us .topheader {
            background-size: contain;
            background-position: 50% -30px;
        }

        .body-about_us .h-header {
            height: 280px;
        }

        .body-about_us nav, .body-docs nav {
            height: 100px;
        }
    }

    @media screen and (max-width:480px) {
        .footer-leftbox {
            margin-left: 0;
            width: 100% !important;
        }

            .footer-leftbox span {
                padding-left: 10px;
            }

        .mailing-button, .mailing-button a {
            width: 100% !important;
        }

        .content-box {
            padding-bottom: 40px !important;
        }

        .compatibility .right-img-box {
            margin-top: 0;
        }

        .footer-wrapper {
            margin-top: 23%;
        }
    }

    @media screen and (max-width:360px) {
        .mailing-wrapper .col-3 .section-text {
            font-size: 17px;
            text-align: center;
        }

        .mailing-button a {
            font-size: 18px !important;
        }

        .mailing-wrapper .section-text {
            width: 100% !important;
        }

        .row {
            padding-bottom: 20px;
        }

        .footer-wrapper {
            margin-top: 50%;
        }
    }
}
/*=======================================================================================*/
