# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

*/5 * * * * /etc/scripts/basic_checks.sh
*/5 * * * * /usr/bin/php -f /var/ftp/users/1/public_files/www/payiota/automation.php
0 0 * * * /usr/bin/php -f /etc/scripts/clear_unconfirmed.php
1 0 * * * /etc/scripts/backup.sh
45 0 * * * logrotate -f /var/ftp/config/logrotate/custom
0 * * * * /etc/scripts/gadscript.sh
* * * * * python /etc/scripts/ftpactions.py
* * * * * /bin/sleep 15 && cd /etc/scripts && python webhosting.py
0 0 1 * *  /usr/bin/letsencrypt renew && service nginx restart && cat /var/ftp/config/letsencrypt/live/lacicloud.net/privkey.pem /var/ftp/config/letsencrypt/live/lacicloud.net/fullchain.pem > /var/ftp/config/letsencrypt/live/lacicloud.net/pure-ftpd.pem && pkill pure-ftpd && rm -r /var/ftp/www/developers/localweb/.well-known
* * * * * /usr/local/bin/goaccess /var/ftp/logs/nginx_access.txt  -a -o /var/ftp/www/developers/localweb/monitoring/statistics_longrandomstring.html --log-format=COMBINED

