<div id="slidebar" off-canvas="slidebar right overlay" ng-controller="SlidebarController as vm">
    <i class="fa fa-sign-in fa-fw" title="{{ 'LOG_OUT_DEFERRED_ACTION'|translate }}" ng-click="vm.initiateLogout()"></i>
    <i class="fa fa-server fa-fw" title="{{ 'CHANGE_SERVER_ACTION'|translate }}" ng-click="vm.showLoginPanel()"></i>
    <i class="fa fa-cog fa-fw" title="{{ 'SETTINGS'|translate }}" ng-click="vm.showSettingsModal()"></i>
    <i ng-if="vm.showAddOnsButton" class="fa fa-puzzle-piece fa-fw" title="{{ 'ADD_ONS'|translate }}" ng-click="vm.showAddonsModal()"></i>
    <a ng-if="vm.showHelpButton" href="{{ vm.customHelpUrl == null ? 'http://redirect.monstaftp.com/support' : vm.customHelpUrl }}"
       target="mftp-new" rel="noopener noreferrer">
        <i class="fa fa-question-circle fa-fw" title="{{ 'HELP_ACTION'|translate }}"></i>
    </a>
</div>