<div id="order-by" class="mobile-show">
    <div class="dropdown">
        <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ vm.sortName|sort_description|translate }}
            <i class="fa" ng-class="{'fa-caret-up': !vm.sortReversed, 'fa-caret-down': vm.sortReversed}" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
            <monsta-reorder-mobile vm="vm" sort-name="NAME" sort-identifier="name"></monsta-reorder-mobile>
            <monsta-reorder-mobile vm="vm" sort-name="SIZE" sort-identifier="size"></monsta-reorder-mobile>
            <monsta-reorder-mobile vm="vm" sort-name="CHANGED" sort-identifier="modified"></monsta-reorder-mobile>
            <monsta-reorder-mobile vm="vm" sort-name="TYPE" sort-identifier="type"></monsta-reorder-mobile>
        </ul>
    </div>    
</div>    