<div id="history" class="dropdown" ng-controller="HistoryController as vm">
    <button class="fa fa-history fa-fw" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="{{ 'HISTORY'|translate }}">
        <span class="caret"></span>
    </button>
    <ul id="history-ul" class="dropdown-menu .pull-down" aria-labelledby="history-toggle" >
        <li title="{{ path }}" ng-repeat="path in vm.sortedHistory" ng-click="historyClick(path)">
            <span>{{ path }}</span>
        </li>

    	<li class="title" ng-show="vm.recentHistory.length == 0 &amp;&amp; vm.sortedHistory.length == 0" translate>
            HISTORY_EMPTY_MESSAGE
        </li>
    </ul>
    <div id="breadcrumb" ng-controller="BreadcrumbController as bc">
        <!--a ng-click="bc.changeDirectoryToItem(0)" id="breadcrumb__home_link">
            <i class="fa fa-home fa-fw"></i>
        </a-->

        <ol id="breadcrumb-ol" class="breadcrumb">
            <li ng-click="bc.changeDirectoryToItem(0)" id="breadcrumb__home_link">
                <a href="#">
                    <i class="fa fa-home fa-fw"></i>
    			</a>
            </li>
        </ol>

        <!--ol id="breadcrumb-ol" class="breadcrumb" ng-controller="BreadcrumbController as bc">
            <li ng-click="bc.changeDirectoryToItem(0)">
                <a href="#">
                    <i class="fa fa-home fa-fw"></i>
    			</a>
            </li>
            <li ng-repeat="component in bc.pathComponents track by $index">
                <a ng-click="bc.changeDirectoryToItem($index + 1)" href="#">
                    {{ component }}
                </a>
            </li>
        </ol-->
    </div>
</div>