<div id="footer" class="toolbar" ng-controller="FooterController as vm">
    <div class="float-left">
        <input type="file" id="upload-placeholder" style="display: none" multiple>
        <input type="file" id="upload-folder-placeholder" style="display: none" directory mozDirectory webkitDirectory>
        <div class="dropup mobile-show float-left">
            <button class="fa fa-bars fa-fw active" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <monsta-footer-menu-item
                        ng-if="vm.enableChmod"
                        vm="vm" active-condition="selectedItemsCount > 0"
                        item-title="CHMOD_ACTION" identifier="chmod" icon-class="fa-key"></monsta-footer-menu-item>
                <monsta-footer-menu-item
                        vm="vm" active-condition="selectedItemsCount > 0"
                        item-title="CUT_ACTION" identifier="cut" icon-class="fa-cut">
                </monsta-footer-menu-item>
                <monsta-footer-menu-item
                        vm="vm" active-condition="selectedItemsCount > 0"
                        item-title="COPY_ACTION" identifier="copy" icon-class="fa-copy">
                </monsta-footer-menu-item>

                <monsta-footer-menu-item
                        vm="vm" active-condition="hasPasteSource == true"
                        item-title="PASTE_ACTION" identifier="paste" icon-class="fa-clipboard">
                </monsta-footer-menu-item>

                <monsta-footer-menu-item
                        vm="vm" active-condition="selectedItemsCount > 0"
                        item-title="DELETE_DEFERRED_ACTION" identifier="delete" icon-class="fa-trash">
                </monsta-footer-menu-item>

                <li role="separator" class="divider"></li>

                <monsta-footer-menu-item
                        vm="vm" item-title="FETCH_FILE_DEFERRED_ACTION" identifier="fetch-file"
                        icon-class="fa-cloud-download" hide-condition="!vm.isLicensed">
                </monsta-footer-menu-item>
            </ul>
        </div>
        <div class="dropup float-left">
            <button class="fa fa-upload fa-fw active" title="{{ 'UPLOAD_DEFERRED_ACTION'|translate }}" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <monsta-footer-menu-item
                        vm="vm" item-title="UPLOAD_FILE_DEFERRED_ACTION" identifier="upload-file"
                        icon-class="fa-file-text-o">
                </monsta-footer-menu-item>

                <monsta-footer-menu-item
                        vm="vm" item-title="UPLOAD_FOLDER_DEFERRED_ACTION" identifier="upload-folder"
                        icon-class="fa-folder-o">
                </monsta-footer-menu-item>

                <monsta-footer-menu-item
                        ng-if="EXTRACT_UPLOAD"
                        vm="vm" item-title="UPLOAD_ARCHIVE_DEFERRED_ACTION" identifier="upload-archive"
                        icon-class="fa-birthday-cake">
                </monsta-footer-menu-item>
            </ul>
        </div>
        <div class="float-left">
            <monsta-footer-button
                    vm="vm" active-condition="selectedItemsCount > 0" item-title="DOWNLOAD_ACTION" identifier="download"
                    icon-class="fa-download">
            </monsta-footer-button>
        </div>
        <div class="mobile-hide float-left">
            <monsta-footer-button
                    vm="vm" active-condition="true" item-title="FETCH_FILE_DEFERRED_ACTION" identifier="fetch-file"
                    icon-class="fa-cloud-download" hide-condition="!vm.isLicensed">
            </monsta-footer-button>
        </div>
        <div class="dropup float-left">
            <button class="fa fa-plus-circle fa-fw active" title="{{ 'NEW_FILE_FOLDER_DEFERRED_ACTION'|translate }}" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <monsta-footer-menu-item
                        ng-if="vm.enableFileEdit"
                        vm="vm" item-title="NEW_FILE_DEFERRED_ACTION" identifier="new-file"
                        icon-class="fa-file-o">
                </monsta-footer-menu-item>

                <monsta-footer-menu-item
                        vm="vm" item-title="NEW_FOLDER_DEFERRED_ACTION" identifier="new-folder"
                        icon-class="fa-folder-o">
                </monsta-footer-menu-item>
            </ul>
        </div>

        <div class="float-left">
            <monsta-footer-button
                    ng-if="vm.enableFileEdit"
                    vm="vm" active-condition="editorActive == true" item-title="SHOW_EDITOR_ACTION" identifier="show-editor"
                    icon-class="fa-pencil">
            </monsta-footer-button>
            <monsta-footer-button
                    ng-if="!vm.enableFileEdit &amp;&amp; vm.enableFileView"
                    vm="vm" active-condition="editorActive == true" item-title="SHOW_EDITOR_ACTION" identifier="show-editor"
                    icon-class="fa-eye">
            </monsta-footer-button>
        </div>

        <div class="mobile-hide float-left">
            <monsta-footer-button
                    ng-if="vm.enableChmod"
                    vm="vm" active-condition="selectedItemsCount > 0" item-title="CHMOD_ACTION" identifier="chmod"
                    icon-class="fa-key">
            </monsta-footer-button>

            <monsta-footer-button
                    vm="vm" active-condition="selectedItemsCount > 0" item-title="CUT_ACTION" identifier="cut"
                    icon-class="fa-cut">
            </monsta-footer-button>

            <monsta-footer-button
                    vm="vm" active-condition="selectedItemsCount > 0" item-title="COPY_ACTION" identifier="copy"
                    icon-class="fa-copy">
            </monsta-footer-button>

            <monsta-footer-button
                    vm="vm" active-condition="hasPasteSource == true" item-title="PASTE_ACTION" identifier="paste"
                    icon-class="fa-clipboard">
            </monsta-footer-button>

            <monsta-footer-button
                    vm="vm" active-condition="selectedItemsCount > 0" item-title="DELETE_DEFERRED_ACTION" identifier="delete"
                    icon-class="fa-trash">
            </monsta-footer-button>
        </div>
    </div>
    <div class="float-right">
        <div id="session" class="dropup">
            <button class="fa fa-info-circle fa-fw" title="{{ 'SESSION_INFORMATION'|translate }}" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" ng-class="{active: vm.isLoggedIn, inactive: !vm.isLoggedIn}"></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li title="{{ 'CURRENT_HOST'|translate }}" ng-hide="currentHost == null"><i class="fa fa-server fa-fw"></i> {{ currentHost }}</li>
                <li title="{{ 'CURRENT_USER'|translate }}" ng-hide="currentUsername == null"><i class="fa fa-user fa-fw"></i> {{ currentUsername }}</li>
                <li title="{{ 'FILE_UPLOAD_LIMIT'|translate }}" ng-hide="maxUploadBytes == -1"><i class="fa fa-upload fa-fw"></i> {{ maxUploadBytes|file_size }}</li>
                <li title="{{ 'CURRENT_VERSION'|translate }}"><i class="fa fa-info-circle fa-fw"></i> {{ "VERSION"|translate }} {{ currentVersion }}</li>
            </ul>
        </div>
    </div>
    <div class="version-alerter float-right" ng-show="newVersionAvailable">
    	<a href="#" data-toggle="modal" data-target="#modal-upgrade"><i class="fa fa-exclamation-triangle fa-fw fa-2x active version-alert" title="{{ NEW_VERSION_AVAILABLE|translate }}"></i></a>
    </div>
</div>