<div id="files" ng-controller="FileBrowserController as vm" ng-mousedown="vm.handleBodyClick($event)" oncontextmenu="return false">
    <ng-include src="'application/frontend/templates/body-order-by.html'"></ng-include>
    <div class="dropdown">
        <button data-toggle="dropdown" style="display: none" id="extras-dropdown-button"></button>
        <ul class="dropdown-menu" id="extras-dropdown">
            <li ng-click="vm.initiateMakeItem('FOLDER')">
                <a href="#">
                    <i class="fa fa-folder-o fa-fw"></i> {{ 'NEW_FOLDER_DEFERRED_ACTION'|translate }}
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li data-name="paste" ng-click="vm.performPaste()">
                <a href="#" ng-class="{inactive: !hasPasteSource}" >
                    <i class="fa fa-clipboard fa-fw"></i> {{ 'PASTE_ACTION'|translate }}
                </a>
            </li>
        </ul>
    </div>
    <table>
        <thead class="mobile-hide">
            <tr>
                <td class="spacer"></td>
                <td class="icon"></td>
                <td class="file">
                    <monsta-reorder vm="vm" sort-name="NAME" sort-identifier="name"></monsta-reorder>
                </td>
                <td class="spacer"></td>
                <td class="size">
                    <monsta-reorder vm="vm" sort-name="SIZE" sort-identifier="size"></monsta-reorder>
                </td>
                <td class="modified">
                    <monsta-reorder vm="vm" sort-name="CHANGED" sort-identifier="modified"></monsta-reorder>
                </td>
                <td class="spacer"></td>
                <td class="permissions">
                    {{ "PERMISSIONS"|translate }}
                </td>
                <td class="other"></td>
                <td class="spacer"></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="vm.uiOperationFactory.currentDirectory != null && vm.uiOperationFactory.currentDirectory != '' && vm.uiOperationFactory.currentDirectory != '/'">
                <td class="spacer"></td>
                <td class="icon" ng-click="vm.navigateUpOneLevel()">
                    <i class="fa fa-level-up fa-fw"></i>
                </td>
                <td class="file">
                    <span class="up" ng-click="vm.navigateUpOneLevel()">..</span>
                </td>
                <td class="spacer"></td>
                <td class="size"></td>
                <td class="modified mobile-hide"></td>
                <td class="spacer mobile-hide"></td>
                <td class="permissions mobile-hide"></td>
                <td class="other"></td>
                <td class="spacer mobile-hide"></td>
            </tr>
            <tr ng-repeat="item in directoryList" ng-class-odd="'tr-odd'" ng-class-even="'tr-even'"
                ng-class="{'ui-selected': selectedItems.indexOf($index) != -1}"
                class="context-catcher-tr"
                ng-mousedown="vm.rowMouseDown($event)"
                ng-mousemove="vm.rowMouseMove($event, $index)"
                ng-mouseup="vm.rowMouseUp($index)"
                ng-mouseleave="vm.rowMouseLeave($event)"
                data-index="{{ $index }}">
                <td class="spacer"></td>
                <td class="icon">
                    <i class="fa {{ item|icon }} fa-fw"></i>
                </td>
                <td class="file">
                    <div class="dropdown file-toolbar">
                        <button data-toggle="dropdown" class="context-catcher-button">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="file-wrapper">
                            <span ng-click="handleClick($event, $index)">{{ item.name|spaces_to_nbsp }}</span>
                        </div>
                        <ul class="dropdown-menu">
                            <li ng-click="handleClick($event)" ng-show="item.isDirectory &amp;&amp; selectedItems.length == 1">
                                <a href="#">
                                    <i class="fa fa-fw fa-folder-open-o"></i> {{"OPEN_ACTION"|translate}}
                                </a>
                            </li>
                            <li ng-if="vm.enableFileEdit" ng-click="editItem(item)" ng-show="vm.itemIsEditable(item.isDirectory, item.name) &amp;&amp; selectedItems.length == 1">
                                <a href="#">
                                    <i class="fa fa-fw fa-pencil"></i> {{"EDIT_ACTION"|translate}}
                                </a>
                            </li>
                            <li ng-if="vm.enableFileView && !vm.enableFileEdit" ng-click="editItem(item)" ng-show="vm.itemIsEditable(item.isDirectory, item.name) &amp;&amp; selectedItems.length == 1">
                                <a href="#">
                                    <i class="fa fa-fw fa-eye"></i> {{"VIEW_ACTION"|translate}}
                                </a>
                            </li>
                            <li ng-click="vm.downloadSelectedFiles()" ng-hide="item.isDirectory">
                                <a href="#">
                                    <i class="fa fa-fw fa-download"></i> {{"DOWNLOAD_ACTION"|translate}}
                                </a>
                            </li>
                            <li role="separator" class="divider" ng-show="!item.isDirectory || selectedItems.length == 1"></li>
                            <li ng-click="vm.initiateCutOfSelectedPaths()">
                                <a href="#">
                                    <i class="fa fa-fw fa-scissors"></i> {{"CUT_ACTION"|translate}}
                                </a>
                            </li>
                            <li ng-click="vm.initiateCopyOfSelectedPaths()">
                                <a href="#">
                                    <i class="fa fa-fw fa-clone"></i> {{"COPY_ACTION"|translate}}
                                </a>
                            </li>
                            <li ng-click="initiateRenameOfItem(item)" ng-show="selectedItems.length == 1">
                                <a href="#">
                                       <i class="fa fa-fw fa-i-cursor">_</i> {{"RENAME_DEFERRED_ACTION"|translate}}
                                </a>
                            </li>
                            <li ng-click="vm.initiateDeleteOfSelectedPaths()">
                                <a href="#">
                                    <i class="fa fa-fw fa-trash-o"></i> {{"DELETE_DEFERRED_ACTION"|translate}}
                                </a>
                            </li>
                            <li ng-if="vm.enableChmod" ng-click="vm.initiateChmodOfSelectedItems()">
                                <a href="#">
                                    <i class="fa fa-fw fa-key"></i> {{"CHMOD_ACTION"|translate}}
                                </a>
                            </li>
                            <li role="separator" class="divider" ng-show="selectedItems.length == 1"></li>
                            <li ng-click="vm.showProperties(item)" ng-show="selectedItems.length == 1">
                                <a href="#">
                                    <i class="fa fa-info-circle fa-fw"></i> {{ 'PROPERTIES'|translate }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="spacer"></td>
                <td class="size">
                    <span ng-show="!item.isDirectory">{{ item.size|file_size }}</span>
                </td>
                <td class="modified mobile-hide">
                    {{ item.modificationDate|file_last_modified }}
                </td>
                <td class="spacer mobile-hide"></td>
                <td class="permissions mobile-hide">
                    <span ng-click="initiateChmodOfItem(item)">{{ item|item_permission_description }}</span>
                </td>
                <td class="other" ng-click="vm.showProperties(item)" title="{{ 'PROPERTIES'|translate }}">
                    <i class="fa fa-ellipsis-v"></i>
                </td>
                <td class="spacer mobile-hide"></td>
            </tr>
        </tbody>
    </table>
</div>