<div id="header" class="toolbar" ng-controller="HeaderController">
    <div class="float-left">
        <button class="fa fa-chevron-left fa-fw" ng-class="{active: canGoBack, inactive: !canGoBack}"
                ng-click="navigateBack()" title="{{ 'BACK_ACTION'|translate }}"></button>
        <button class="fa fa-chevron-right fa-fw" ng-class="{active: canGoForward, inactive: !canGoForward}"
                ng-click="navigateForward()" title="{{ 'FORWARD_ACTION'|translate }}"></button>
        <button ng-click="refresh()" class="fa fa-refresh fa-fw active" title="{{ 'REFRESH_ACTION'|translate }}"></button>
        <!--button class="fa fa-search fa-fw active" title="{{ 'SEARCH_DEFERRED_ACTION'|translate }}"></button-->
    </div>
    <div class="float-right">
        <span class="spacer"></span>
        <span class="logo"></span>
        <span class="spacer"></span>
        <button class="fa fa-bars fa-fw active" id="slidebar-toggle" title="{{ 'MENU_ACTION'|translate }}"></button>
    </div>
</div>