<div class="modal fade" id="modal-login-link" tabindex="-1" role="dialog" aria-labelledby="modal-login-link-label"
     ng-controller="ModalLoginLinkController as vm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header label-warning">
                <h4 class="modal-title" id="modal-login-label" translate>GENERATE_LOGIN_LINK_TITLE</h4>
            </div>
            <div class="modal-body text-center">
                <div class="alert alert-danger" role="alert" ng-show="vm.configURL == null" translate>LOGIN_LINK_BAD_CONFIGURATION_MESSAGE</div>
                <div ng-hide="vm.configURL == null">
                    <textarea>{{ vm.configURL }}</textarea>
                    <br/>
                    <span translate>LOGIN_LINK_HINT</span>
                    <br/>
                    <a href="#" ng-show="vm.supportsCopy" ng-click="vm.copy()" translate>COPY_LOGIN_LINK_PROMPT</a>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="vm.hide()" translate>DISMISS_CLOSE_ACTION</button>
            </div>
        </div>
    </div>
</div>