<div class="modal fade" id="modal-editor" tabindex="-1" role="dialog" aria-labelledby="modal-file-editor-label"
     ng-controller="FileEditorController as fileEditorController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="tab-content">
                    <div ng-repeat="editorFile in editorFiles track by editorFile.path" role="tabpanel" class="tab-pane"
                         ng-class="{active: editorFile.path == activeFile.path, in: editorFile.path == activeFile.path}">
                        <textarea id="editor_ta_{{ editorFile.path }}" class="file-editor-textarea"
                                  ng-model="editorFile.contents" ng-change="textChange(editorFile.path)"
                                  ng-readonly="!fileEditorController.allowEdit"></textarea>
                    </div>
                </div>
                <div class="dropup">
                    <div class="file-path" aria-haspopup="true" aria-expanded="false" ng-class="{ 'cursor-pointer': licenseFactory.isLicensed() }"
                         ng-click="fileEditorController.fileListClick($event)">
                        <i class="fa fa-caret-up" ng-show="licenseFactory.isLicensed()"></i>
                        <span ng-class="{'unsaved-file': activeFile.dirty }"></span>{{ activeFile.path }}
                    </div>
                    <ul class="dropdown-menu" role="tablist" ng-show="licenseFactory.isLicensed()">
                        <li ng-repeat="editorFile in editorFiles track by $index" role="presentation"
                            ng-class="{active: editorFile.path == activeFile.path, in: editorFile.path == activeFile.path}"
                            ng-click="activateTab(editorFile.path, $event)">
                            <div>
                                <a href="#" aria-controls="fel" role="tab">
                                    <button class="close" type="button"
                                            ng-click="closeTabForFile(editorFile.name, editorFile.path)">&times;
                                    </button>
                                    <span data-placement="top" title="{{ editorFile.path }}"
                                          ng-class="{'unsaved-file': editorFile.dirty }">
                                        {{ editorFile.path }}
                                    </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="logo"></div>
                <!--
                <span class="float-left upgrade-link" ng-if="fileEditorController.shouldShowProUpgrade()">
					<a href="http://redirect.monstaftp.com/upgrade"
					   rel="noopener noreferrer"
                       target="mftp-new" translate>UPGRADE_MESSAGE_TRY_ADVANCED_EDITOR</a>
				</span>
				-->
                <span class="autosave" ng-show="licenseFactory.isLicensed() && fileEditorController.allowEdit">
					<input type="checkbox" ng-model="settings.autoSave" id="id_auto_save">
                    <label for="id_auto_save" translate>AUTO_SAVE_ACTION</label>
				</span>
                <button type="button" class="btn btn-default" ng-if="fileEditorController.allowEdit"
                        ng-click="saveActiveFile(false)"
                        ng-disabled="activeFile.saving">
                    <span ng-show="!activeFile.saving" translate>SAVE_ACTION</span>
                    <i ng-show="activeFile.saving" class="fa fa-spinner fa-spin fa-fw"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="fileEditorController.hide()" translate>DISMISS_CLOSE_ACTION</button>
            </div>
        </div>
    </div>
</div>