<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label"
     ng-controller="LoginPanelController as vm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header label-warning">
                <button ng-show="vm.isAuthenticated" type="button" class="close" data-dismiss="modal"
                        aria-label="{{ 'DISMISS_CLOSE_ACTION'|translate }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-login-label" translate>LOGIN</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="login-tab-links" ng-if="connectionTypes.length > 1">
                    <li ng-repeat="connectionTypeItter in connectionTypes" role="presentation"
                        ng-class="{active: connectionTypeItter[0] == connectionType }">
                        <a href="" aria-controls="login-{{ connectionTypeItter[0]}}"
                           role="tab" ng-click="vm.selectTab(connectionTypeItter[0])">
                            {{ connectionTypeItter[1]}}
                        </a>
                    </li>
                </ul>

                <div class="alert alert-danger" role="alert"
                     ng-hide="storedAuthenticationErrorMessage == null || storedAuthenticationErrorMessage == ''">
                    <strong translate>ERROR_ATTENTION</strong> {{ storedAuthenticationErrorMessage }}
                </div>

                <div class="input-wrapper float-fix" ng-show="vm.shouldShowProfiles() && !masterPasswordValid">
                    <div class="float-left width-passwd">
                        <input type="password" name="" ng-model="metaConfiguration.masterPassword"
                               ng-keypress="masterPasswordKeypress($event)"
                               placeholder="{{ (hasServerSavedAuthentication ? 'MASTER_PASSWORD_ENTER_PLACEHOLDER' : 'MASTER_PASSWORD_SET_PLACEHOLDER')|translate }}">
                    </div>
                    <div class="spacer"></div>
                    <div class="float-right width-login">
                        <i class="fa fa-sign-in fa-2x fa-fw" ng-click="handleAuthGo()"></i>
                    </div>
                </div>

                <div class="input-wrapper" ng-show="masterPasswordValid && licenseFactory.isLicensed()">
                    <select ng-model="metaConfiguration.savedProfileIndex" class="form-control"
                            ng-change="handleProfileChange()">
                        <option value="" translate>LOAD_PROFILE_DEFERRED_ACTION</option>
                        <option ng-repeat="profile in savedAuthentication[connectionType] track by $index"
                                value="{{ $index }}">
                            {{ vm.getProfileName(profile, false) }}
                        </option>
                        <option value="new" translate>NEW_DEFERRED_ACTION</option>
                    </select>
                </div>

                <div class="input-wrapper" ng-show="masterPasswordValid && licenseFactory.isLicensed()">

                </div>

                <div class="input-wrapper" ng-show="masterPasswordValid && licenseFactory.isLicensed() && vm.profileIsSelected()">
                    {{ 'PROFILE_NAME_LABEL'|translate }}:
                    <br><input type="text" ng-model="metaConfiguration.enteredProfileName" placeholder="{{ vm.getDefaultProfileName() }}">
                </div>

                <div class="alert alert-danger" role="alert"
                     ng-hide="connectionErrorMessage == null || connectionErrorMessage == ''">
                    <strong translate>ERROR_ATTENTION</strong> {{ connectionErrorMessage }}
                    <!--TODO: get connectionErrorCode from API -->
                </div>

                <!-- Tab content -->
                <div class="tab-content">
                    <div ng-repeat="connectionTypeItter in connectionTypes" role="tabpanel"
                         class="tab-pane fade" ng-class="{'active in': connectionTypeItter[0] == connectionType}"
                         id="login-{{ connectionTypeItter[0] }}">
                        <ng-include
                                src="'application/frontend/templates/modal-login-' + connectionTypeItter[0] + '.html'"></ng-include>
                    </div>
                </div>

                <div class="alert alert-warning" role="alert"
                     ng-if="vm.shouldShowProUpgrade()">
                    <a href="http://redirect.monstaftp.com/upgrade" target="mftp-new" rel="noopener noreferrer"
                       translate>UPGRADE_MESSAGE_PROFILE</a>
                    <span class="close-banners float-right">
                    	<a href="http://redirect.monstaftp.com/banners" class="close" target="mftp-new" rel="noopener noreferrer">&times;</a>
                    </span>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger float-left" ng-click="initiateProfileDelete()"
                        ng-hide="shouldHideDeleteButton()" translate>
                    DELETE_DEFERRED_ACTION
                </button>

                <button type="button" class="btn btn-default float-left" ng-if="licenseFactory.isLicensed()"
                        ng-click="vm.showLoginLink()" title="{{ 'GENERATE_LOGIN_LINK_ACTION'|translate }}"><i class="fa fa-link icon-rotate-135"></i></button>
                <button type="button" class="btn btn-primary" ng-click="connect()" translate>CONNECT</button>
            </div>
        </div>
    </div>
</div>