<div class="modal fade" id="modal-choice" tabindex="-1" role="dialog" aria-labelledby="modal-choice-label"
     ng-controller="ModalChoiceController as vm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header label-warning">
                <h4 class="modal-title" id="modal-confirm-label" translate>{{ vm.title }}</h4>
            </div>
            <div class="modal-body" translate>
                {{ vm.message }}
            </div>
            <div class="modal-footer">
                <button ng-repeat="callback in vm.callbacks track by $index" type="button" class="btn btn-default"
                        ng-click="vm.handleCallback($index)" translate>{{ callback[0] }}</button>
            </div>
        </div>
    </div>
</div>