<div class="modal fade" id="modal-properties" tabindex="-1" role="dialog" aria-labelledby="modal-properties-label"
	 ng-controller="ModalPropertiesController as vm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header label-success">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="{{ 'DISMISS_CLOSE_ACTION'|translate}}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-properties-label" translate>PROPERTIES</h4>
            </div>
            <div class="modal-body">
                <table ng-if="vm.item != null">
                	<tr title="{{ 'NAME'|translate }}">
                		<td class="icon"><i class="fa fa-info-circle fa-fw"></i></td>
                		<td><div class="property">{{ vm.item.name }}</div></td>
                	</tr>
                	<tr title="{{ 'MODIFICATION_DATE'|translate }}">
                		<td class="icon"><i class="fa fa-history fa-fw"></td>
                		<td><div class="property">{{ (vm.item.modificationDate * 1000)|date:"medium" }}</div></td>
                	</tr>
                	<tr title="{{ 'SIZE'|translate }}">
                		<td class="icon"><i class="fa fa-hdd-o fa-fw"></td>
                		<td><div class="property">{{ vm.item.size|number }} {{ "BYTE"|translate:{size:vm.item.size} }}
                            <span ng-show="vm.item.size >= 1024">({{ vm.item.size|file_size }})</span></div>
                        </td>
                	</tr>
                	<tr title="{{ 'OWNER'|translate }}">
                		<td class="icon"><i class="fa fa-user fa-fw"></td>
                		<td><div class="property">{{ vm.item.ownerUserName }}</div></td>
                	</tr>
                	<tr title="{{ 'GROUP'|translate }}">
                		<td class="icon"><i class="fa fa-users fa-fw"></td>
                		<td><div class="property">{{ vm.item.ownerGroupName }}</div></td>
                	</tr>
                	<tr title="{{ 'PERMISSIONS'|translate }}">
                		<td class="icon"><i class="fa fa-key fa-fw"></td>
                		<td><div class="property">{{ vm.item|item_permission_description }} (0{{ vm.item.numericPermissions.toString(8) }})</div></td>
                	</tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" translate>DISMISS_CLOSE_ACTION</button>
            </div>
        </div>
    </div>
</div>