<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="modal-search-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header label-warning">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-search-label">Search</h4>
			</div>
			<div class="modal-body">
				<input type="text" name="" placeholder="Enter new folder name...">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default">OK</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>