<form>
    <div class="input-wrapper" ng-if="vm.configurationSettable('mock', 'username')">
        {{ 'USERNAME'|translate }}:
        <br><input type="text" ng-model="configuration.mock.username" required ng-keypress="handleLoginKeyPress($event)">
    </div>
          
    <div class="input-wrapper" ng-if="vm.configurationSettable('mock', 'password')">
        {{ 'PASSWORD'|translate }}:
        <br><input type="password" ng-model="configuration.mock.password" required ng-keypress="handleLoginKeyPress($event)">
    </div>
    
    <div class="input-wrapper" ng-if="vm.configurationSettable('mock', 'initialDirectory')">
        {{ 'INITIAL_DIRECTORY'|translate }}:
        <br><input type="text" ng-model="configuration.mock.initialDirectory" required ng-keypress="handleLoginKeyPress($event)">
    </div>
        
    <div class="input-wrapper">
        <input type="checkbox" ng-model="metaConfiguration.rememberLogin" name="login_save" value="1" tabindex="-1"> {{ 'KEEP_ME_LOGGED_IN'|translate }}
    </div>
</form>