<div class="modal fade" id="modal-settings" tabindex="-1" role="dialog" aria-labelledby="modal-settings-label"
     ng-controller="ModalSettingsController as vm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header label-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'DISMISS_CLOSE_ACTION'|translate }}"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-settings-label" translate>SETTINGS</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend translate>LANGUAGE_LABEL</legend>
                    <select ng-model="vm.applicationSettings.language">
                        <option ng-repeat="languageCodeAndName in vm.languageFiles track by $index" value="{{ languageCodeAndName[0] }}">{{ languageCodeAndName[1] }}</option>
                    </select>
                </fieldset>
                <fieldset>
                    <legend translate>OPTIONS_LABEL</legend>
                    <span ng-if="vm.applicationSettings.showDotFiles || vm.systemShowDotFiles">
                        <input type="checkbox" ng-model="vm.applicationSettings.showDotFiles"> <span translate>SHOW_DOT_FILES_LABEL</span><br>
                    </span>
                    <input type="checkbox" ng-model="vm.applicationSettings.editNewFilesImmediately"> <span translate>EDIT_NEW_FILES_IMMEDIATELY_LABEL</span>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" translate>DISMISS_CANCEL_ACTION</button>
                <button type="button" class="btn btn-primary" ng-click="vm.saveSettings()" translate>SAVE_ACTION</button>
            </div>
        </div>
    </div>
</div>