<div class="modal fade" id="modal-upgrade" tabindex="-1" role="dialog" aria-labelledby="modal-upgrade-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header label-success">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="{{ 'DISMISS_CLOSE_ACTION'|translate}}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-upgrade-label" translate>UPGRADE_AVAILABLE</h4>
            </div>
            <div class="modal-body">
                {{ 'NEW_VERSION_AVAILABLE_MESSAGE'|translate:{application_name:'Monsta FTP'} }}
                <p><a href="http://redirect.monstaftp.com/download" target="mftp-new" rel="noopener noreferrer">{{ 'DOWNLOAD_UPGRADE_DEFERRED_ACTION'|translate }}</a>
                <p><a href="http://redirect.monstaftp.com/changelog" target="mftp-new" rel="noopener noreferrer">{{ 'VIEW_CHANGELOG_DEFERRED_ACTION'|translate }}</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" translate>DISMISS_CLOSE_ACTION</button>
            </div>
        </div>
    </div>
</div>