<div class="modal fade" id="modal-chmod" tabindex="-1" role="dialog" aria-labelledby="modal-chmod-label" ng-controller="ModalPermissionsController">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header label-warning">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'DISMISS_CLOSE_ACTION'|translate }}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-chmod-label">{{ 'CHANGE_FILE_PERMISSIONS'|translate }}</h4>
			</div>
			<div class="modal-body">
        		<fieldset>
                    <legend translate>PERMISSIONS_OWNER</legend>
                    <div>
                        <input type="checkbox" ng-model="permissions.ownerRead" id="modal-permissions-owner-read"> 
                        	<label for="modal-permissions-owner-read" translate>PERMISSIONS_READ</label>
                    </div>
                    <div>
                        <input type="checkbox" ng-model="permissions.ownerWrite" id="modal-permissions-owner-write"> 
                        	<label for="modal-permissions-owner-write" translate>PERMISSIONS_WRITE</label>
                    </div>
                    <div>
                        <input type="checkbox" ng-model="permissions.ownerExecute" id="modal-permissions-owner-execute"> 
                        	<label for="modal-permissions-owner-execute" translate>PERMISSIONS_EXECUTE</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend translate>PERMISSIONS_GROUP</legend>
                    <div>
                        <input type="checkbox" ng-model="permissions.groupRead" id="modal-permissions-group-read"> 
                        	<label for="modal-permissions-group-read" translate>PERMISSIONS_READ</label>
                    </div>
                    <div>
                        <input type="checkbox" ng-model="permissions.groupWrite" id="modal-permissions-group-write"> 
                        	<label for="modal-permissions-group-write" translate>PERMISSIONS_WRITE</label>
                    </div>
                    <div>
                        <input type="checkbox" ng-model="permissions.groupExecute" id="modal-permissions-group-execute"> 
                        	<label for="modal-permissions-group-execute" translate>PERMISSIONS_EXECUTE</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend translate>PERMISSIONS_OTHER</legend>
                    <div>
                        <input type="checkbox" ng-model="permissions.otherRead" id="modal-permissions-other-read"> 
                        	<label for="modal-permissions-other-read" translate>PERMISSIONS_READ</label>
                    </div>
                    <div>
                        <input type="checkbox" ng-model="permissions.otherWrite" id="modal-permissions-other-write"> 
                        	<label for="modal-permissions-other-write" translate>PERMISSIONS_WRITE</label>
                    </div>
                    <div>
                        <input type="checkbox" ng-model="permissions.otherExecute" id="modal-permissions-other-execute"> 
                        	<label for="modal-permissions-other-execute" translate>PERMISSIONS_EXECUTE</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend translate>PERMISSIONS_MANUAL</legend>
                     <input type="text" ng-model="formattedPermissions" ng-model-options="{ updateOn: 'blur' }" 
                     	ng-blur="cleanFormattedPermissions()" ng-focus="manualFocus()" maxlength="3">
                     <span class="alert alert-danger" role="alert" ng-show="invalidRange" translate>PERMISSIONS_INVALID_NUMBER_MESSAGE</span>
                </fieldset>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancelClick()" ng-disabled="saving">{{ 'DISMISS_CANCEL_ACTION'|translate }}</button>
                <button type="button" class="btn btn-default" ng-click="okClick()" ng-disabled="saving">{{ (saving ? "SAVING_ACTIVITY_STATUS" : 'DISMISS_OK_ACTION')|translate }}</button>
            </div>
		</div>
	</div>
</div>