<div ng-if="systemConfiguration.sftpAvailable === false">
    <p>
        {{ 'SFTP_NOT_AVAILABLE_MESSAGE'|translate }}
    </p>
    <p>
        <a href="http://redirect.monstaftp.com/ssh2" target="mftp-new" rel="noopener noreferrer">{{ 'SFTP_README_LINK_TEXT'|translate }}</a>
    </p>
</div>

<form ng-if="systemConfiguration.sftpAvailable !== false">
    <div class="input-wrapper float-fix" ng-if="vm.configurationSettable('sftp', 'host')">
        <div class="float-left width-host">
            {{ 'HOST'|translate }}:
            <br><input type="text" ng-model="configuration.sftp.host" required ng-keypress="handleLoginKeyPress($event)">
        </div>
        <div class="spacer"></div>
        <div class="float-right width-port" ng-if="vm.configurationSettable('sftp', 'port')">
            {{ 'PORT'|translate }}:
            <br><input type="text" ng-model="configuration.sftp.port" placeholder="{{ defaults.sftp.port }}" ng-keypress="handleLoginKeyPress($event)">
        </div>
    </div>

    <div class="input-wrapper" ng-if="vm.configurationSettable('sftp', 'remoteUsername')">
        {{ 'USERNAME'|translate }}:
        <br><input type="text" ng-model="configuration.sftp.remoteUsername" required ng-keypress="handleLoginKeyPress($event)">
    </div>

    <div class="input-wrapper" ng-if="vm.configurationSettable('sftp', 'initialDirectory')">
        {{ 'INITIAL_DIRECTORY'|translate }}:
        <br><input type="text" ng-model="configuration.sftp.initialDirectory" required ng-keypress="handleLoginKeyPress($event)">
    </div>

    <div class="input-wrapper" ng-if="vm.configurationSettable('sftp', 'authenticationModeName')">
        {{ 'AUTHENTICATION_TYPE'|translate }}:
        <br>
        <select ng-model="configuration.sftp.authenticationModeName" class="form-control">
            <option value="Password" translate>PASSWORD</option>
            <option value="PublicKeyFile" translate>SSH_AUTH_MODE_PUBLIC_KEY_FILE</option>
            <option value="Agent" translate>SSH_AUTH_MODE_AGENT</option>
        </select>
    </div>
    <div ng-show="vm.showDisabledSFTPAuthMessage()">
        <span translate>SFTP_AUTHENTICATION_DISABLED_MESSAGE</span>
        <a href="https://monsta.freshdesk.com/support/solutions/articles/9000096311-how-to-enable-ssh-agent-auth-or-public-key-auth"
           target="mftp-new" rel="noopener noreferrer" translate>SFTP_AUTHENTICATION_ENABLED_INSTRUCTIONS_MESSAGE</a>
    </div>
    <div class="input-wrapper" ng-if="vm.configurationSettable('sftp', 'password')"
         ng-show="configuration.sftp.authenticationModeName == 'Password' || configuration.sftp.authenticationModeName == 'PublicKeyFile'">
        <span ng-show="configuration.sftp.authenticationModeName == 'PublicKeyFile'">{{ 'PRIVATE_KEY'|translate }} </span>
        {{ 'PASSWORD'|translate }}<span ng-show="configuration.sftp.authenticationModeName == 'PublicKeyFile'"> {{ 'OPTIONAL_OPTIONAL'|translate }}</span>:
        <br><input type="password" ng-model="configuration.sftp.password" ng-keypress="handleLoginKeyPress($event)">
    </div>

    <div class="input-wrapper" ng-if="vm.configurationSettable('sftp', 'privateKeyFilePath')"
         ng-show="configuration.sftp.authenticationModeName == 'PublicKeyFile' || configuration.sftp.authenticationModeName == 'HostKeyFile'">
        {{ 'PRIVATE_KEY'|translate }}:
        <br><input type="text" ng-model="configuration.sftp.privateKeyFilePath" ng-keypress="handleLoginKeyPress($event)">
    </div>

    <div class="input-wrapper" ng-if="vm.configurationSettable('sftp', 'publicKeyFilePath')"
         ng-show="configuration.sftp.authenticationModeName == 'PublicKeyFile' || configuration.sftp.authenticationModeName == 'HostKeyFile'">
        {{ 'PUBLIC_KEY'|translate }}:
        <br><input type="text" ng-model="configuration.sftp.publicKeyFilePath" ng-keypress="handleLoginKeyPress($event)">
    </div>

    <div class="input-wrapper">
        <input type="checkbox" ng-model="metaConfiguration.rememberLogin" name="login_save" value="1" tabindex="-1" id="id_sftp_login_save">
        <label class="login-cb-label" for="id_sftp_login_save">{{ 'KEEP_ME_LOGGED_IN'|translate }}</label>
    </div>
</form>