<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-label"
     ng-controller="ModalConfirmController as modalConfirmController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header label-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'DISMISS_CLOSE_ACTION'|translate }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-confirm-label" translate>WARNING_ATTENTION</h4>
            </div>
            <div class="modal-body">
                {{ modalConfirmController.message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="modalConfirmController.cancel()" translate>DISMISS_CANCEL_ACTION</button>
                <button type="button" class="btn btn-danger" ng-click="modalConfirmController.ok()" translate>DISMISS_CONFIRM_ACTION</button>
            </div>
        </div>
    </div>
</div>