<div class="modal fade" id="modal-addons" tabindex="-1" role="dialog" aria-labelledby="modal-addons-label"
     ng-controller="ModalAddonsController as vm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header label-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'DISMISS_CLOSE_ACTION'|translate }}"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-addons-label">{{'ADD_ONS'|translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="license-type">{{ (vm.isLicensed ? "PROFESSIONAL_EDITION" : "STARTER_EDITION")|translate }}</div>
                <span ng-show="vm.isLicensed">
                    {{ 'LICENSE_VALID_UNTIL_MESSAGE'|translate:{ expiry_date:vm.formattedExpiryDate } }}
                </span>
                <span class="alert alert-danger" ng-show="vm.licenseExpired">
                    {{ 'LICENSE_EXPIRED_ON_MESSAGE'|translate:{ expiry_date:vm.formattedExpiryDate } }}
                    <br/>
                    <a href="http://redirect.monstaftp.com/renew" target="mftp-new" rel="noopener noreferrer" translate>RENEW_NOW_MESSAGE</a>
                </span>
                <span ng-show="!vm.isLicensed && !vm.licenseExpired">
                    <a href="http://redirect.monstaftp.com/upgrade" target="mftp-new" rel="noopener noreferrer" translate>UPGRADE_MESSAGE_GENERAL</a>
                </span>
                <textarea ng-model="vm.models.license" placeholder="{{ (vm.isLicensed ? 'LICENSE_UPDATE_PLACEHOLDER' : 'LICENSE_NEW_PLACEHOLDER')|translate }}"> </textarea>
                <div class="alert alert-danger" role="alert"
                     ng-hide="vm.licenseUpdateError == null || vm.licenseUpdateError == ''">
                    <strong translate>ERROR_ATTENTION</strong> {{ vm.licenseUpdateError }}
                </div>
                <button class="btn btn-primary" ng-click="vm.updateLicense()" translate>SAVE_LICENSE_ACTION</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'DISMISS_OK_ACTION'|translate }}</button>
            </div>
        </div>
    </div>
</div>