<form>
    <div class="input-wrapper float-fix" ng-if="vm.configurationSettable('ftp', 'host')">
        <div class="float-left width-host">
            {{ 'HOST'|translate }}:
            <br><input type="text" ng-model="configuration.ftp.host" required ng-keypress="handleLoginKeyPress($event)">
        </div>
        <div class="spacer"></div>
        <div class="float-right width-port" ng-if="vm.configurationSettable('ftp', 'port')">
            {{ 'PORT'|translate }}:
            <br><input type="text" ng-model="configuration.ftp.port" placeholder="{{ defaults.ftp.port }}" required ng-keypress="handleLoginKeyPress($event)">
        </div>
    </div>
              
    <div class="input-wrapper" ng-if="vm.configurationSettable('ftp', 'username')">
        {{ 'USERNAME'|translate }}:
        <br><input type="text" ng-model="configuration.ftp.username" required ng-keypress="handleLoginKeyPress($event)">
    </div>
          
    <div class="input-wrapper" ng-if="vm.configurationSettable('ftp', 'password')">
        {{ 'PASSWORD'|translate }}:
        <br><input type="password" ng-model="configuration.ftp.password" required ng-keypress="handleLoginKeyPress($event)">
    </div>

    <div class="input-wrapper" ng-if="vm.configurationSettable('ftp', 'initialDirectory')">
        {{ 'INITIAL_DIRECTORY'|translate }}:
        <br><input type="text" ng-model="configuration.ftp.initialDirectory" required ng-keypress="handleLoginKeyPress($event)">
    </div>

    <div class="input-wrapper">
        <span ng-if="vm.configurationSettable('ftp', 'passive')">
            <input type="checkbox" ng-model="configuration.ftp.passive" value="1" checked tabindex="-1" id="id_configuration.ftp.passive">
            <label class="login-cb-label" for="id_configuration.ftp.passive">{{ 'PASSIVE_MODE'|translate }}</label>
            <br>
        </span>
        <span ng-if="vm.configurationSettable('ftp', 'ssl')">
            <input type="checkbox" ng-model="configuration.ftp.ssl" value="1" checked tabindex="-1" id="id_configuration.ftp.ssl">
            <label class="login-cb-label" for="id_configuration.ftp.ssl">{{ 'USE_SSL'|translate }}</label>
            <br>
        </span>
        <input type="checkbox" ng-model="metaConfiguration.rememberLogin" name="login_save" value="1" tabindex="-1" id="id_ftp_login_save">
        <label class="login-cb-label" for="id_ftp_login_save">{{ 'KEEP_ME_LOGGED_IN'|translate }}</label>
    </div>
</form>