<div class="modal fade" id="modal-transfers" tabindex="-1" role="dialog" aria-labelledby="modal-transfers-label"
     ng-controller="ModalTransferController as vm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header label-warning">
                <!--button type="button" class="close" data-dismiss="modal" aria-label="{{ 'DISMISS_CLOSE_ACTION'|translate }}"><span
                        aria-hidden="true">&times;</span></button-->
                <h4 class="modal-title" id="modal-transfers-label">{{ ::'FILE_TRANSFER'|translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="file" ng-repeat="upload in vm.uploads">
                    <div class="status">
                        <div class="icon">
                            <i class="fa {{ upload|icon }} fa-fw"></i>
                        </div>
                        <div class="name">
                            {{ upload.name }}
                        </div>
                        <button class="close" type="button" ng-click="vm.abortItem(upload)">×</button>
                    </div>
                    <div class="progress">
                        <upload-progress-bar upload="upload"></upload-progress-bar>
					</div>
                    <div class="status">
                        <div class="transferred" ng-show="upload.archiveExtractMax == 0">
                            {{ vm.fsFilter(upload.stats.completedBytes) }} {{ ::'COMPLETED_OF_TOTAL_JOINER'|translate }} {{ vm.fsFilter(upload.stats.totalBytes) }}
                        </div>
                        <div class="transferred" ng-show="upload.archiveExtractMax != 0">
                            {{ upload.archiveExtractCurrent }} {{ ::'COMPLETED_OF_TOTAL_JOINER'|translate }} {{ upload.archiveExtractMax }}
                        </div>
                        <div class="rate">
                            <span ng-show="!upload.stats.hasBeenStarted() && upload.stats.completedBytes != upload.stats.totalBytes" translate>
                                UPLOAD_IN_QUEUE_MESSAGE
                            </span>
							<span ng-hide="upload.stats.completedBytes == upload.stats.totalBytes || !upload.stats.hasBeenStarted()">
                                {{ upload|transfer_rate}}
                            </span>
                            <span ng-show="upload.stats.completedBytes == upload.stats.totalBytes && !upload.isArchive && !upload.hasError" translate>
                                UPLOAD_TRANSFERRING_TO_SERVER_MESSAGE
                            </span>
                            <span ng-show="upload.hasError">
                                {{ ::'UPLOAD_FAILED_MESSAGE'|translate }} {{ upload.statusCode }} / {{ upload.statusText }}
                            </span>
                            <span ng-show="upload.stats.completedBytes == upload.stats.totalBytes && upload.isArchive" translate>
                                UPLOAD_ARCHIVE_TRANSFERRING_MESSAGE
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="vm.abortAll()" translate>DISMISS_CANCEL_ALL_ACTION</button>
            </div>
        </div>
    </div>
</div>