<div class="modal fade" id="modal-prompt" tabindex="-1" role="dialog" aria-labelledby="modal-prompt-label" 
	ng-controller="ModalPromptController as modalPromptController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header label-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'DISMISS_CLOSE_ACTION'|translate }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-prompt-label">{{ title }}</h4>
            </div>
            <div class="modal-body">
            	<div class="alert alert-danger" role="alert" ng-show="errorSet"><strong translate>ERROR_ATTENTION</strong> {{ errorMessage }}</div>
                <input type="text" name="" ng-model="final" placeholder="{{ placeHolder|translate }}" ng-keypress="handlePromptKeypress($event)">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="isBusy" translate>DISMISS_CANCEL_ACTION</button>
                <button type="button" class="btn btn-default" ng-click="successClose()" ng-disabled="isBusy">{{ dismissMessage }}</button>
            </div>
        </div>
    </div>
</div>